@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/vars' as *;

.section {
	margin-top: 80px;

	&__top {
		display: flex;
		align-items: flex-end;
		gap: 30px;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 5px;
		color: $color-blue-dark;

		&:hover {
			opacity: 0.8;
		}
	}

	&__items {
		display: flex;
		align-items: stretch;
		margin-top: 40px;

		@include lg {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@include sm {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
