@use '@/shared/styles/mixins' as *;

.newPassword {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 310px;
	width: 100%;

	&__btn {
		border-radius: 4px;
		background: #2a5275;
		padding: 16px;
		width: 100%;
		color: #fff;

		&:hover {
			opacity: 0.8;
		}
	}

	@include md {
		max-width: unset;
	}
}
