@use '@/shared/styles/mixins' as *;

.searchMenu {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 50px;
	z-index: 2;
	width: calc(100% - 40px);
	border-radius: 8px;
	max-width: 500px;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-size: 28px;
		font-weight: 700;
		line-height: 130%;
	}

	&__input {
		font-weight: 400;
		line-height: 120%;
		border: 1px solid #4878a6;
		border-radius: 4px;
		padding: 10px 10px 10px 20px;
		background: #fff;
		width: 100%;
		margin-top: 50px;
		&::placeholder {
			font-weight: 400;
			color: #838688;
		}
	}

	&__overlay {
		position: fixed;
		inset: 0;
		background: #2a5275;
		opacity: 0.5;
		z-index: 1;
	}
	@include md {
		padding-left: 20px;
		padding-right: 20px;
	}

	@include xs {
		height: 100%;
		width: 100%;
	}
}
