@use '@/shared/styles/vars' as *;
@use '@/shared/styles/mixins' as *;
.search {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	color: $color-gray;
	max-width: 107px;
	padding: 0 12px 12px;
	border-bottom: 1px solid $color-gray;

	svg {
		path {
			stroke: $color-gray;
		}
	}

	&:hover {
		opacity: 0.8;
	}

	@include xl {
		display: none;
	}

	@include md {
		display: flex;
		flex-direction: column;
		gap: 5px;
		border-bottom: 0;
		color: $color-gray-light;
		padding: 0;
		font-size: 13px;

		svg {
			path {
				stroke: #bfcbd6;
			}
		}

		&:hover {
			color: $color-white;

			svg {
				path {
					stroke: #fff;
				}
			}
		}
	}
}
