@use '@/shared/styles/vars' as *;
.createCategory {
	max-height: 90vh;
	overflow-y: auto;
	&__trigger {
		width: 100%;
		height: 100%;
		background-color: $color-white-dark;
		border-radius: 4px;

		&:hover {
			opacity: 0.6;
		}

		&.edit {
			background: transparent;
			width: unset;
			height: unset;
		}
	}

	&__form {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__images {
		display: flex;
		gap: 10px;
	}

	&__image {
		max-width: 150px;
	}
}
