@use '@/shared/styles/mixins' as *;
@use "@/shared/styles/vars" as *;

.priceRange {
	max-width: max-content;

	@include lg {
		max-width: unset;
	}
	&__top {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 400;
		color: $color-gray;
	}

	&__input {
		max-width: 117px;
		border: 1px solid #eaeaf0;
		border-radius: 4px;
		padding: 10px 10px 10px 20px;
	}

	&__submit {
		background: #4878a6;
		margin-top: 20px;
	}
}
