@use '@/shared/styles/mixins' as *;
@use "@/shared/styles/vars" as *;

.catalogFilters {
	width: 310px;

	&__info {
		font-size: 14px;
		font-weight: 400;
		color: $color-gray;
	}

	&__skeleton {
		margin-top: 20px;
	}

	@include lg {
		display: none;
	}
}
