@use '@/shared/styles/vars' as *;

.catalogList__wrapper {
	width: 310px;
	position: relative;

	&-button {
		display: flex;
		align-items: center;
		padding: 14px 20px;
		gap: 10px;
		width: 100%;
		background: #243c53;
		color: $color-white;
		cursor: default;
	}
}

.catalogList {
	padding: 8px 0;
	position: absolute;
	left: 0;
	right: 0;
	background: #edf2f6;
	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 12px 18px;
		height: 48px;

		&:hover {
			background: #dae4ed;
		}
	}
}
