@use '@/shared/styles/vars' as *;
@use '@/shared/styles/mixins' as *;

.header {
	display: flex;
	padding: 10px 0;
	align-items: center;
	justify-content: space-between;

	&__right {
		display: flex;
		align-items: center;
		gap: 58px;
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 20px;

		&-time {
			color: $color-gray;
		}

		@include xl {
			display: none;
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		gap: 8px;

		&-link {
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				opacity: 0.8;
			}

			@include md {
				display: none;
			}
		}

		&-button {
			color: $color-white;
			border-radius: 4px;
			padding: 16px 26px;
			background: #2a5275;

			&:hover {
				opacity: 0.8;
			}
		}

		@include md {
			.search {
				display: none;
			}
		}
	}
}
