@use '@/shared/styles/mixins' as *;

.dashboardSpecificationsList {
	display: grid;
	align-items: stretch;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 5px;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__specification {
		padding: 10px;
		display: flex;
		align-items: center;
	}

	@include xl {
		grid-template-columns: repeat(2, 1fr);
	}

	@include lg {
		grid-template-columns: repeat(1, 1fr);
	}

	@include md {
		grid-template-columns: repeat(2, 1fr);
	}

	@include sm {
		grid-template-columns: repeat(1, 1fr);
	}
}
