@use '@/shared/styles/mixins' as *;

.bigNews {
	margin-top: 30px;

	&__title {
		font-weight: 700;
		font-size: 36px;
	}

	&__wrapper {
		margin-top: 30px;
		display: flex;
		align-items: stretch;
		gap: 20px;
		justify-content: space-between;

		@include md {
			flex-direction: column;
		}
	}

	&__image {
		max-width: 400px;
		@include lg {
			max-width: 300px;
		}

		@include md {
			max-width: unset;
		}
	}

	&__content {
		* {
			all: revert;
		}
	}
}
