@use '@/shared/styles/mixins' as *;

.category {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 12px 18px;
	height: 48px;
	border-radius: 8px;
	justify-content: center;
	position: relative;
	&:hover {
		background: #dae4ed;
	}

	&__link {
		z-index: 1;
		position: absolute;
		inset: 0;
	}
}
