@use '@/shared/styles/mixins' as *;

.cartBlock {
	border: 1px solid #c8cacb;
	border-radius: 8px;
	padding: 30px;

	@include sm {
		padding: 20px;
	}

	&__title {
		font-weight: 700;
		font-size: 28px;
	}

	&__content {
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include sm {
			flex-wrap: wrap;
			gap: 20px;
		}
	}

	&__changeBtn {
		width: unset !important;
	}

	&__nextBtn {
		margin-top: -20px;
		width: 200px !important;

	
	}
}
