@use '@/shared/styles/vars' as *;

.navbar {
	background: #0e1821;

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	&__links {
		display: flex;
		align-items: center;
		gap: 40px;
		color: $color-white;

		a {
			&:hover {
				opacity: 80%;
			}
		}
	}
}
