@use '@/shared/styles/mixins' as *;

.checkout {
	width: 420px;
	background: #edf2f6;
	padding: 30px;
	border-radius: 8px;
	position: sticky;
	top: 20px;
	right: 0;

	@include lg {
		width: 100%;
		position: static;
	}

	&__title {
		font-weight: 700;
		font-size: 28px;

		@include vsm {
			font-size: 24px;
		}
	}

	&__list {
		margin-top: 17px;
		padding-bottom: 30px;
		border-bottom: 1px solid #c8cacb;
		display: grid;
		gap: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 400;
		font-size: 20px;

		&-title {
			color: #838688;
		}

		@include vsm {
			font-size: 16px;
		}
	}

	&__total {
		padding-top: 30px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		&-text {
			font-weight: 600;
			font-size: 24px;

			@include vsm {
				font-size: 20px;
			}
		}

		&-price {
			font-weight: 700;
			font-size: 36px;

			@include vsm {
				font-size: 24px;
			}
		}
	}

	&__submit {
		margin-top: 20px;
		border-radius: 4px;
		background: #4878a6;
		padding: 16px;
		width: 100%;
		color: #fff;

		&:hover {
			opacity: 0.8;
		}

		&:disabled {
			background: #838688;
			pointer-events: none;
			cursor: not-allowed;
		}
	}

	&__agreement {
		margin-top: 20px;
		display: flex;
		align-items: flex-start;
		gap: 10px;
		font-weight: 400;

		a {
			color: #4878a6;
		}
	}
}
