@use '@/shared/styles/mixins' as *;

.footer {
	background: #edf2f6;
	padding: 40px 0 35px;
	margin-top: 80px;

	@include vsm {
		margin-top: 50px;
		padding-bottom: 20px;
	}

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding-bottom: 40px;
		border-bottom: 1px solid #c8cacb;

		@include xl {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 60px 0;
		}

		@include vsm {
			grid-template-columns: repeat(1, 1fr);
			gap: 40px 0;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		gap: 20px;
		flex: 1;
	}

	&__socials {
		display: flex;
		flex-direction: column;
		gap: 10px;
		a {
			font-weight: 600;
			font-size: 20px;
		}
		&-time {
			font-weight: 400;
			color: #838688;
		}
	}

	&__addresses {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__address {
		color: #000;
	}

	&__links {
		flex: 1;

		&-title {
			font-weight: 600;
			font-size: 20px;
			color: #838688;
		}

		&-list {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&-item {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__bottom {
		padding-top: 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.footer__socials {
			display: flex;
			flex-direction: row;

			@include md {
				justify-self: flex-end;
			}

			@include vsm {
				justify-self: flex-start;
				order: -1;
			}
		}

		@include md {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
			align-items: center;
		}

		@include vsm {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__copyright,
	&__developer {
		color: #838688;
		font-weight: 400;

		@include vsm {
			font-size: 13px;
		}
	}
}
