// Text
$font-weight: 500;
$font-size: 16px;
$line-height: 100%;

// Fonts
$font-family: 'Exo 2', sans-serif;
$second-family: 'Roboto', sans-serif;
$third-family: 'Inter', sans-serif;
$font3: 'Source Sans Pro', sans-serif;

// Colors
$color-text: #070c11;
$color-white: #fff;
$color-gray: #838688;

//  Container
$container-width: 1330px;
$container-padding: 15px;
