// Text
$font-weight: 500;
$font-size: 16px;
$line-height: 1;

// Fonts
$font-family: 'Exo 2', sans-serif;

// Colors
$color-text: #070c11;
$color-black: #000;
$color-white: #fff;
$color-gray: #838688;
$color-blue-light: #4878a6;
$color-blue-dark: #2a5275;
$color-red: #f15152;
$color-gray-light: #bfcbd6;
$color-white-dark: #e0e0e0;

//  Container
$container-width: 1330px;
$container-padding: 15px;
