@use '@/shared/styles/vars' as *;

.addToCart {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 10px;
	margin-top: 20px;

	&__buy {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #4878a6;
		border-radius: 4px;
		padding: 10px;
		font-weight: 700;
		color: $color-blue-light;
		flex: 1;
		height: 48px;

		&:hover {
			background: #4878a6;
			color: $color-white;
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&__add {
		background: #4878a6;
		width: 48px;

		display: flex;
		align-items: center;
		justify-content: center;

		&--big {
			width: 228px;
			padding: 14px;
		}

		svg {
			path {
				fill: #fff;
			}
		}
	}
}
