@use '@/shared/styles/mixins' as *;
.recommend {
	margin-top: 80px;

	&__title {
		font-weight: 700;
		font-size: 28px;
	}

	&__list {
		display: flex;
		align-items: stretch;
		margin-top: 40px;

		@include lg {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@include sm {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
