@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/vars' as *;
.authForm {
	max-width: 370px;
	padding: 20px 30px 30px;

	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
	}

	&__link {
		font-weight: 400;
		color: $color-blue-light;
	}

	&__agreement {
		font-size: 14px;

		a {
			color: $color-blue-dark;
		}
	}

	&__change {
		color: $color-blue-light;
		text-align: center;
		font-weight: 400;
	}

	@include sm {
		width: 100%;
		height: 100%;
		padding: 20px;
	}
}
