@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/vars' as *;

.hero {
	margin-top: 20px;
	width: 100%;
	position: relative;
	z-index: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 6px;

		@include xl {
			width: 100%;
			border-radius: 0;
		}
	}

	@include xl {
		margin-left: calc($container-padding * -1);
		width: calc(100% + $container-padding * 2);
	}
}

.swiper {
	border-radius: 8px !important;

	@include xl {
		border-radius: 0 !important;
	}
}

.swiper-pagination {
	width: 100% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.swiper-pagination-bullet {
	background-color: $color-white !important;
	flex: 1 !important;
	border-radius: 2px !important;
	background-color: $color-white-dark !important;
	opacity: 0.5 !important;
	height: 3px !important;
}

.swiper-pagination-bullet-active {
	background-color: $color-gray-light !important;
	opacity: 1 !important;
}
