@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/vars' as *;

.news {
	margin-top: 80px;
	&__top {
		display: flex;
		align-items: flex-end;
		gap: 30px;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 5px;
		color: $color-blue-dark;

		&:hover {
			opacity: 0.8;
		}
	}

	&__items {
		display: flex;
		align-items: stretch;
		margin-top: 40px;
		gap: 20px;

		@include md {
			flex-direction: column;
		}

		&--newsPage {
			flex-wrap: wrap;
		}
	}

	&:hover {
		&__title {
			color: $color-blue-dark;
		}
	}
}
