@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/vars' as *;

.bigProductTabs {
	margin-top: 40px;

	&__tabs {
		display: flex;
		background: #edf2f6;
		border-radius: 8px;
		padding: 0 20px;
		width: 100%;
		overflow-y: auto;
	}

	&__tab {
		padding: 25px 20px;
		font-weight: 700;
		text-wrap: nowrap;
		border-bottom: 2px solid transparent;

		&.active {
			color: $color-blue-dark;
			border-bottom: 2px solid #2a5275;
		}

		&:not(.active):hover {
			background: #2a527554;
		}
	}

	&__content {
		margin-top: 40px;
	}

	&__text {
		margin-top: 30px;
		font-weight: 400;
	}

	&__title {
		font-weight: 700;
		font-size: 28px;

		@include md {
			font-size: 24px;
		}

		@include vsm {
			font-size: 20px;
		}
	}
}
